<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="BaseIUS" connectionString="Data Source=mxctdb1;Initial Catalog=IUS_mantesis;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="IUSProduccion" connectionString="Data Source=CT9BD1;Initial Catalog=IUS_SQLA;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="BaseBitacora" connectionString="Data Source=CT9BD2;Initial Catalog=mBitacora;User Id=MantesisUsr;Password=usrmantesiscoord" providerName="System.Data.SqlClient"/>
    <add name="MantesisSql" connectionString="Data Source=CT9BD2;Initial Catalog=Mantesis;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="salasConnection" connectionString="Data Source=ct9bd2;Initial Catalog=CDFacSCJN;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="salasDic" connectionString="Data Source=\\ct9iis2\Mant.BD\SalasDic.mdb; Provider=Microsoft.Jet.OLEDB.4.0; User Id=DESARROLLO;Password=PROGRAMADORES2; Jet OLEDB:System database=\\ct9iis2\Mant.BD\IUS.MDW"/>

    <!--Conexión utilizada por el control de Informe de las Salas para acceder a la base de datos de la décima época-->
    <add name="accessMantesis" connectionString="Data Source=\\ct9iis2\Mant.BD\DECIMA.mdb; Provider=Microsoft.Jet.OLEDB.4.0"/>
    <add name="JuriSalas" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=JuriSalas.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>

  </connectionStrings>


  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
